@import './modules/footer';
@import './modules/filter';
@import './modules/todos';
@import './modules/input';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: 100 1rem 'Helvetica Neue', sans-serif;
}
  
body {
	width: 100%;
	color: #777777;
	background-color: #F5F5F5;
}

header {
    h1 {
        margin-top: 30px;
        font-size: 100px;
        color: #af2f2f26;
        text-align: center; 
    }
}
  
.todo-app {
	min-width: 220px;
	max-width: 550px;
	margin: 0 auto;
	background: #FFF;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2); 
}